<svg:g *ngIf="feature.code === 'shrine'" app-feature-shrine [feature]="feature"></svg:g>
<svg:g *ngIf="feature.code === 'tree'" id="feature-tree"><svg:circle cx="50" cy="50" r="50" style="fill:seagreen;"></svg:circle></svg:g>
<svg:g *ngIf="feature.code === 'bush'" id="feature-bush"><svg:circle cx="50" cy="50" r="50" style="fill:burlywood;"></svg:circle></svg:g>
<svg:g *ngIf="feature.code === 'grass'" id="feature-grass"><svg:circle cx="50" cy="50" r="50" style="fill:greenyellow;"></svg:circle></svg:g>
<svg:g *ngIf="feature.code === 'stone'" id="feature-stone"><svg:circle cx="50" cy="50" r="50" style="fill:gray;"></svg:circle></svg:g>

