<div *ngIf="!shared.enemy" class="fullpage" style="font-size: 2em; color: white;">
    <div class="button">
        {{shared.world.last | date: 'yyyy-MM-dd HH:mm:ss'}}
    </div>
    <div class="button">
        {{shared.world.next | date: 'yyyy-MM-dd HH:mm:ss'}}
    </div>
    <div class="button" *ngFor="let orc of shared.world.orcs" (click)="clickOrc(orc)">
        Orc ({{orc.x}}-{{orc.y}}) {{orc.swings}}
    </div>
    <div style="height: 140px;"></div>
</div>

<app-duel-buttons *ngIf="shared.enemy" (youWin)="fightWon = $event"></app-duel-buttons>

<div class="fullpage" *ngIf="fightWon != null">
    <div *ngIf="fightWon" class="button" (click)="clickAckWin()">
        Hai sconfitto l'orco!
    </div>
    <div *ngIf="!fightWon" class="button" (click)="clickAckLose()">
        L'orco continua le sue scorrerie!
    </div>
    <div style="height: 140px;"></div>
</div>
