<div *ngIf="!shared.enemy" class="fullpage" style="font-size: 2em; color: white;">
    <div class="button">
        L:{{shared.world.life}}/{{shared.world.maxLife}}
        M:{{shared.world.mana}}/{{shared.world.maxMana}}
    </div>
    <div class="button">
        {{shared.world.last | date: 'yyyy-MM-dd HH:mm:ss'}}
    </div>
    <div class="button">
        {{shared.world.next | date: 'yyyy-MM-dd HH:mm:ss'}}
    </div>
    <div class="button" *ngFor="let orc of shared.world.orcs" (click)="clickOrc(orc)">
        Orc ({{orc.x}}-{{orc.y}}) {{orc.swings}}
    </div>
    <div style="height: 140px;"></div>
</div>

<svg class="fullsvg" viewBox="0 0 100 100" (pan)="onPan($event)">
    <g [attr.transform]="transformMap()">
        <g *ngFor="let feature of shared.world.features" (click)="clickFeature(feature)" [attr.transform]="transformHex(feature.hex)">
            <g app-feature-placeholder [feature]="feature"></g>
        </g>
        <g app-icon-orc *ngFor="let orc of shared.world.orcs" (click)="clickOrc(orc)" [attr.transform]="transformHex(orc.hex)"></g>
    </g>
</svg>

<div class="fullpage splitview" *ngIf="currentFeature">
    <div class="splithalf">
        <svg viewBox="0 0 100 100" (click)="currentFeature = null">
            <g app-feature-placeholder [feature]="currentFeature"></g>
        </svg>
        <div style="height: 140px;"></div>
    </div>
    <div class="splithalf">
        <div style="height: 140px;"></div>
    </div>
</div>

<app-duel-buttons *ngIf="shared.enemy" (youWin)="fightWon = $event"></app-duel-buttons>
<div class="fullpage" *ngIf="fightWon != null">
    <div *ngIf="fightWon" class="button" (click)="clickAckWin()">
        Hai sconfitto l'orco!
    </div>
    <div *ngIf="!fightWon" class="button" (click)="clickAckLose()">
        L'orco continua le sue scorrerie!
    </div>
    <div style="height: 140px;"></div>
</div>