<svg *ngIf="!shared.enemy && !showOptions" class="fullsvg" viewBox="0 0 400 400">
    <g *ngFor="let enemy of shared.enemies" (click)="clickEnemy(enemy)" [attr.transform]="transformEnemy(enemy)">
        <g *ngIf="!enemy.locked" app-icon-orc></g>
        <g *ngIf="enemy.locked" app-icon-locked></g>
    </g>
</svg>

<app-duel-buttons *ngIf="shared.enemy"></app-duel-buttons>

<app-game-options *ngIf="showOptions"></app-game-options>

<div class="panel-menu-list top-left-menu">
    <div class="panel-menu-item" *ngIf="!shared.enemy">
        <span style="font-size: 1.5em; color: white;" (click)="clickOptions()">Options</span>
    </div>
</div>

