<div class="panel-menu-list top-left-menu">
  <div class="panel-menu-item">
    <span style="font-size: 1.5em; color: yellow;">{{enemyLevel}}</span>
  </div>
  <div class="panel-menu-item">
    <span style="font-size: 1.5em; color: white;" *ngIf="score >= 0">{{score}}</span>
  </div>
  <div class="panel-menu-item">
    <span style="font-size: 1.5em; color: red;" *ngIf="score >= 0">{{hits}}</span>
  </div>
</div>

<svg class="fullsvg" viewBox="0 0 100 100">
    <g *ngIf="ready && swordState!='dead'">
        <g *ngFor="let button of buttons" style="opacity:{{sequence[step] === button.name ? 0.2 : 0}};" [attr.transform]="transform(button)" >
            <g app-boxed-sword [color]="button.color"></g>
        </g>
    </g>
    <!-- <g app-enemy-orc [enemyState]="enemyState" (enemyHits)="enemyHits($event)" ></g> -->
    <g [@theenemy]="enemyStateWithParameters()" (@theenemy.done)="enemyDone($event)" app-broadsword color="#ff0000"></g>
    <g *ngIf="swordState!='dead'" [@thesword]="swordState" (@thesword.done)="swordDone($event)" app-broadsword color="#00ff00"></g>
    <g *ngIf="ready && swordState!='dead'">
        <g *ngFor="let button of buttons" style="opacity:0;" [attr.transform]="transform(button)" (click)="clickAction(button)" >
            <g app-boxed-sword [color]="button.color"></g>
        </g>
        <g (click)="clickWin()" [attr.transform]="scaleFatal()">
            <g app-strike-fatal></g>
        </g>
    </g>
</svg>
<div class="fullpage" style="font-size: 2em; color: white;" *ngIf="swordState === 'dead' || enemyState === 'dead'">
    <div class="spotlight">
        <div class="button" (click)="newGame(2)">+2</div>
        <div class="button" (click)="newGame(1)">+1</div>
        <div class="button" (click)="newGame(0)">+0</div>
        <div class="button" (click)="newGame(-1)">-1</div>
        <div class="button" (click)="newGame(-2)">-2</div>
    </div>
</div>
